
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

form *{
    overflow: visible;
}
.MuiTextField-root{
    /* padding: 1em !important; */
    margin-top: 1px !important;
    /* margin:1em !important; */
}
form button{
    width: 50%;
}
