.home {
	background: #ff5000;
	background: linear-gradient(90deg, #ff5000 0%, #ffa500 80%);
	background: -webkit-linear-gradient(90deg, #ff5000 0%, #ffa500 80%);
	background: -moz-linear-gradient(90deg, #ff5000 0%, #ffa500 80%);
	border-radius: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 17px 16px 23px -6px rgba(255, 165, 0, 0.3);
	-webkit-box-shadow: 17px 16px 23px -6px rgba(255, 165, 0, 0.3);
	-moz-box-shadow: 17px 16px 23px -6px rgba(255, 165, 0, 0.3);
	border: 3px solid black;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home * {
	font-weight: bold;
}
