#container {
    min-width: 100vw;
    min-height: 100vh;
    background: url('../../assets/images/login_background.webp') center/cover no-repeat;
    
}

#blur{
    min-width: 100vw;
    min-height: 100vh;
    backdrop-filter: blur(3px);
}
